#miasmantic_sidecar {
  position: fixed;

  min-width: 10%;
  width: fit-content;

  min-height: 20vh;
  height: fit-content;
  max-height: 75vh;

  top: 25vh;
  right: 0;

  padding: 5px;

  background: lightblue;
  color: black;
  border: 2px solid black;

  z-index: 1000;
}

#miasmantic_sidecar_title {
  font-size: larger;
  text-align: center;
  font-weight: bold;
}
